*{
  margin: 0;
  padding:0 ;
}
body{
    background-image: url(pizza10.png);
    height: 100vh;
    width:fit-content;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
body img{
  background-color: aqua;
}
h1{
  color: aliceblue;
  padding: 200px 0 100px 400px;
  width: 200px;
}
a{
  text-decoration: none;
  color: aliceblue;
}
ul{
  display: flex;
  justify-content: space-between;
}
